body {
  color: green;
  background-color:black;
}


h1{
color:orange;
  font-family: 'Creepster', cursive;
  font-size: 50pt;
}

p{
  color: orange;
  font-size: 30pt;
  font-family:'Creepster', cursive;
}

a{
color: orange;
  font-size: 30pt;
  font-family:'Creepster', cursive;
}

img{
  padding: 20px;
}

li{
  color:green;
  font-size: 30pt;
  font-family:'Creepster'
}
